mixin  navigation-links
	ul
		li: a(href="{{site.baseurl}}/index.html") Home
		li: a(href="{{site.baseurl}}/Blog") Blog
		li: a(href="{{site.baseurl}}/About-us") About us
		li: a(href="{{site.baseurl}}/Menu&Pricing") Menu&Pricing		
		li: a(href="{{site.baseurl}}/Contact&Reservation") Contact&Reservation

nav
	+navigation-links