.jumbotron-container

	.logo

	p "People do this to live a 
	p healthy lifestyle and that is exactly the type
	p of life we want to promote."

	p.about-excerpt We create diet meal plans & cook the best tasting foods in Iligan, specialized for your weight loss goals!

	a(href="{{site.baseurl}}/About-us"): button(type="button") READ MORE
